/*
Dont display the error box till needed
*/
#validation-error-box {
	display: none;
}

.footer {
	background-color: #5a5a5a;
}

.standard-background {
	background-image: url('/img/tent-vector-colour.png');
	background-position: bottom right;
	background-repeat: no-repeat;
}

.welcome-background {
	background-image: url('/img/background-wide.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.welcome-text h1 {
	font-size: 72px;
	padding-bottom: 110px;
	text-shadow: 2px 5px 5px #000000;
	-webkit-transform: rotate(350deg);
	-moz-transform: rotate(350deg);
	-o-transform: rotate(350deg);
	writing-mode: lr-tb;
}

.welcome-text ol {
	font-size: 36px;
	margin-left: 140px;
	text-shadow: 2px 4px 4px #000000;
}

.brand {
  background: url(../img/campfire-logo.png) no-repeat left center;
}

/* Style for dings font - used for symbols throughout the site */
.ding {
	font-family: 'EntypoRegular';
	vertical-align: center;
	font-size: 200%;
}

.tooltip-inner {
	max-width: 500px;
}

@media (min-width: 980px) {
	.preview {
		padding-top: 75px;
	}
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 100px; /* .push must be the same height as .footer */
}
/* end sticky footer */
